# Connection URL for the Database
spring.datasource.url = jdbc:mysql://localhost:3306/meeseeks?useSSL=false?createDatabaseIfNotExist=true

# Username and password
spring.datasource.username = root
spring.datasource.password = passwordadmin

# Show or not log for each sql query
spring.jpa.show-sql = true

# Hibernate ddl auto (create, create-drop, update): with "update" the database
# schema will be automatically updated accordingly to java entities found in
# the project
spring.jpa.hibernate.ddl-auto = update

spring.jackson.serialization.fail-on-empty-beans=false

# Naming strategy
spring.jpa.hibernate.naming-strategy = org.hibernate.cfg.ImprovedNamingStrategy

# Allows Hibernate to generate SQL optimized for a particular DBMS
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQL5Dialect

security.basic.enabled=false

app.security.secret=5b520eaf9a2067a98de258ec8a3a3f3e8b64f219
app.cors.origins=*
# Token to be used by the Swagger Docs, without Bearer
app.security.token=ModifyWithATokenYouGetFromLogin

# Pusher Feeds Credentials
app.pusher.feeds.locator=v1:us1:402dd0d4-06b3-44bd-b39f-600839531748
app.pusher.feeds.secret=6a80dc5a-e240-4429-80a0-74289802f10d:CSOjERDCT4Z4klIazvqUKHNAlc7WnyJFtVAT2EeSxTA=
